{% extends 'base.html' %}
{% load static %}
{%block titulo%}Acerca de nosotros{%endblock titulo%}
{%block contenido%}

    <link rel="stylesheet"href="css/main.css">
    <h2 class="texto">Sobre nosotros</h2>
    <br>
    
    <h4 class="parrafo">¡Hola viajer@! Si has llegado hasta aquí es porque quieres saber un poquito más sobre nosotros!! Este es un proyecto que nació con mucho amor y cariño en 2023. <br>
        En este blog pueden encontrar información sobre lugares turísticos, alojamiento, comida, transporte, actividades y mucho más, como así también consejos útiles para sus viajes y el como evitar inconvenientes y ahorrar dinero.</h4>

{%endblock contenido%}