{% extends 'base.html' %}
{% load static %}
{%block titulo%}Home{%endblock titulo%}
{%block contenido%}
<center>
    <img src="{% static 'img/portada2.jpg' %}"style="max-width: 1200px;; margin:20px">
</center>
    <h2 class="letra">Ultimos post</h2>
    {% for post in ultimos_post %}
    
        <div class="imga1">
        <h3><a href="{% url 'post:detalle' post.pk %}">Titulo:{{post.titulo}} </a></h3>        
        <img src="{{post.imagenes.url}}" width="25%"> 
        <br>
        </div>
    
    {% endfor %}

{%endblock contenido%}