{% extends 'base.html' %}
{% load static %}
{%block titulo%}Post{%endblock titulo%}
{%block contenido%}
    <h2>Noticia detallada</h2>
    
    <div class="post">
        <img src="{{post.imagenes.url}}" width="30%"> 
        
        <h3>{{post.titulo}}</h3>
        <p>{{post.contenido}}</p>      
        <p>{{post.fecha_publicacion}}</p>
        <p>{{post.categoria_post}}</p>
        <p>Autor: {{post.autor}}</p>
        {% if user.is_authenticated and post.autor == user or user.is_staff %}
        <a href="{% url 'post:edit_post' pk=post.pk %}">Editar</a>
            <form method="POST" action="{% url 'post:detalle' pk=post.pk %}">
                {% csrf_token %}
                <button type="submit" name="delete_post">BORRAR</button>
            </form>
        {% endif %}
    </div>
        <h4>Comentarios</h4>
        {% for comentario in comentarios %}
            <p><strong>{{comentario.usuario}} - {{comentario.fecha_creacion}}</strong></p>
            <p>{{comentario.contenido}}</p>
            <form method="post" action="{% url 'post:delete_comentario' comentario.id %}">
                {% csrf_token %}
                {% if comentario.usuario == user.username %}
                    <button type="submit">Borrar</button>
                    <a href="{% url 'post:edit_comentario' comentario_id=comentario.id %}">Editar</a>
                {% endif %}
            </form>
        <br>
        {% endfor %}
        {% if user.is_authenticated %} 
            <h4>Añadir comentarios</h4>
            <form method="post" action="{% url 'post:add_comentario' post.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        {% else %}
            <p>Debe iniciar sesión para dejar un comentario</p>
            <a href="{% url 'login' %}">INICIAR SESION</a>
        {% endif %}
        <a href="{% url 'post:listar' %}">VOLVER</a>
{%endblock contenido%}